$color-primary: #007aeb;
$color-secondary: blue;
$color-grey--light: #bdacac;
$color-grey--dark: #545454;

$font-headings: "Raleway", serif;
$font-body: "Lusitana", sans-serif;

$standard-transition: 0.3s ease;

:root {
	--font-headings: #{$font-headings};
	--font-body: #{$font-body};
	--transition--standard: #{$standard-transition};
}

[data-color-theme="light"] {
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-grey--light: #{$color-grey--light};
	--color-grey--dark: #{$color-grey--dark};
}
