@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
%btn {
	border: 2px solid transparent;
	border-radius: 10rem;
	padding: 0.5rem 2rem;
	font-family: v.$font-headings;
	display: inline-block;
	font-size: 1.2em;
	margin: 2rem 2rem 0 0;
	transition: m.transition((background-color, transform));
}
button,
.btn {
	@extend %btn;
	&:hover {
		box-shadow: 4px 8px v.$color-primary;
		transform: translateY(-4px);
	}
}
.btn {
	&__text {
		margin: 1rem;
		display: inline-block;
		transition: color v.$standard-transition;
	}

	&__fill {
		@extend .btn;
		background-color: v.$color-primary;
		.btn__text {
			color: white;
		}
		&:hover {
			background-color: white;
			border-color: v.$color-primary;
			.btn__text {
				color: v.$color-primary;
			}
		}
	}
	&__outline {
		@extend .btn__fill;
		border-color: v.$color-primary;
		background-color: white;
		.btn__text {
			color: v.$color-primary;
		}
		&:hover {
			background-color: v.$color-primary;
			box-shadow: 4px 8px black;
			.btn__text {
				color: white;
			}
		}
	}
}
