@use "../abstracts/mixins";
@use "../abstracts/variables";

%nav_text_styles {
	font-size: 2rem;
	font-weight: 700;
	color: black;
	font-family: var(--font-headings);
}

header {
	padding: 2rem 0;
	border-bottom: 2px solid black;
	padding: 0 2rem;

	.logo {
		margin: 0;
		width: 100%;
		height: 100%;

		&__container {
			$size: 150px;
			width: $size;
			height: $size;
			display: block;
		}

		&__img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.nav {
		.offcanvas-title {
			@extend %nav_text_styles;
		}

		.menu-item {
			@extend %nav_text_styles;

			a {
				display: inline-block;
				border-bottom: 2px solid transparent;
				transition: border variables.$standard-transition;
				padding: 2rem;
				color: inherit;

				&:hover,
				&:active,
				&:focus {
					border-bottom: 2px solid black;
				}
			}
		}
	}
}
