@use '../abstracts/mixins' as m;
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	section {
		padding: 3.5rem 0;
	}
}

figure {
	$size: 40rem;
	@include m.square($size);
	@include m.fadeIn;
	overflow: hidden;

	img {
		@include m.square(100%);
		object-fit: cover;
	}
}
