@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../components/post-sidebar';
.single:not(body) {
	// @include m.displayFlex();
	gap: 4rem;
	margin: 4rem auto;
	// @include m.respond(iPhone) {
	// 	display: block;
	// }
	.the-post {
		max-width: 700px;
		&__featured-image {
			img {
				@include m.square(100%);
				object-fit: contain;
			}
		}
		&__headline {
			color: v.$color-primary;
		}
	}
}
